date-picker {
  position: relative;
  display: inline-block;
}

.date-picker {
  position: absolute;
  z-index: 10;
  display: none;
  border: 1px solid #e4eaf2;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.date-picker:after,
.date-picker:before {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.date-picker:before {
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #e4eaf2;
}

.date-picker:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.date-picker.open-left:before {
  top: -7px;
  left: 9px;
}

.date-picker.open-left:after {
  top: -6px;
  left: 10px;
}

.date-picker.open-right:before {
  top: -7px;
  right: 9px;
}

.date-picker.open-right:after {
  top: -6px;
  right: 10px;
}

.date-picker .calendar-table {
  max-width: 255px;
  padding: 4px;
}

.date-picker .calendar-table .next span,
.date-picker .calendar-table .prev span {
  color: #6c757d;
  opacity: 0.5;
  border: solid #6c757d;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}

.date-picker .calendar-table .next:hover span,
.date-picker .calendar-table .prev:hover span {
  opacity: 1;
  border-color: #000;
}

.date-picker .calendar-table .prev span {
  transform: rotate(135deg);
}

.date-picker .calendar-table .next span {
  transform: rotate(-45deg);
}

.date-picker .calendar-table th,
.date-picker .calendar-table td {
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 32px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  border-radius: 4px;
}

.date-picker .calendar-table td:hover {
  color: #fff;
  background-color: #727cf5;
}

.date-picker .calendar-table td.active {
  color: #fff;
  background-color: #727cf5;
}

/* ==== 范围选择器样式 ==== */

.date-picker.ranges {
  width: 510px;
}

.date-picker.ranges .calendar-table.left,
.date-picker.ranges .calendar-table.right {
  float: left;
}

.date-picker.ranges .calendar-table.left {
  margin-right: 0;
  clear: none;
}

.date-picker.ranges .calendar-table.left {
  border-right: 1px solid #e4eaf2;
}

.date-picker.ranges .calendar-table td.in-range {
  border-radius: 0;
}

.date-picker.ranges .calendar-table td.in-range,
.date-picker.ranges .calendar-table td.start-date,
.date-picker.ranges .calendar-table td.end-date {
  color: #fff;
  background-color: #727cf5;
}

.date-picker.ranges .calendar-table td.end-date:not(.start-date) {
  border-radius: 0 4px 4px 0;
}

.date-picker.ranges .calendar-table td.start-date:not(.end-date) {
  border-radius: 4px 0 0 4px;
}
