.calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  white-space: nowrap;
  color: #333;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.calendar-table td.off {
  color: #6c757d;
  opacity: 0.5;
}

.calendar-table td.off:hover {
  color: #fff;
}
